streamlit
python-dotenv
faiss-cpu
pypdf
requests
urllib3
tqdm
beautifulsoup4
lxml

# LangChain core and integrations
langchain
langchain-community
langchain-core
langchain-google-genai

# If you want to use OpenAI fallback
openai
